.s4_contents_box{
    width: 1250px;
    height: 300px;
    /*background-color: #00B0FF;*/
    position: relative;
    border: 1px solid #eee;
    margin:auto;
    margin-top: 30px;

}
.s4_contents_main{
    display: block;
    width: 1200px;
    height: 300px;
    position: absolute;
    /*background-color: red;*/
    margin: 10px 20px;
}

.s4_contents_img{
    width: 280px;
    height: 280px;
    right: 0px;
    position: absolute;
    background-color: #e5e5e5;
}
.s4_img_size{
    width: 100%;
    height: 100%;
}
.s4_contents_sub{
    width: 900px;
    height: 300px;
    /*background-color: #424242;*/
    position: absolute;
}
/* 제목 */
.s4_contents_title{
    font-weight: 400;
    font-size: 33px;
    letter-spacing: -1px;
    white-space: nowrap;
    color: #424242;
    padding-top: 20px;
    display: block;
}
.s4_contents_box2{
    height: 130px;
    padding-top: 25px;
    color: #e5e5e5;
    max-height: 130px;
    display: -webkit-box;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
}
.s4_contents_view{
    display: block;
    color: #e5e5e5;
    font-size: 23px;
    line-height: 21px;
    color: #666;


}

.s4_contents_info{
    display: block;
    overflow: hidden;
    font-size: 17px;
    color: #959595;
    padding-top: 50px;
    margin-left: 3px;
    color: #959595;
    bottom: 20px;
}

.s4_info_by{
    width: 15px;
    height: 15px;
    margin-right: 4px;
    margin-left: 2px;
    font-size: 15px;
    font-family: Georgia;
    font-style: italic;
    color: #bfbfbf;
}

#free_board{

    width: 80%;
    margin:auto;
    /*margin-top: 80px;*/
    background: #FAFAFA;
}
